aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asttokens
attrs
certifi
charset-normalizer
colorama
comm
dataclasses-json
debugpy
decorator
et_xmlfile
executing
faiss-cpu
filelock
frozenlist
fsspec
greenlet
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
ipython
ipython_pygments_lexers
jedi
Jinja2
joblib
jsonpatch
jsonpointer
jupyter_client
jupyter_core
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
MarkupSafe
marshmallow
matplotlib-inline
mpmath
multidict
mypy_extensions
narwhals
nest-asyncio
networkx
numpy
openpyxl
orjson
packaging
parso
pillow
platformdirs
plotly
prompt_toolkit
propcache
psutil
pure_eval
pydantic
pydantic-settings
pydantic_core
Pygments
python-dateutil
python-dotenv
PyYAML
pyzmq
regex
requests
requests-toolbelt
safetensors
scikit-learn
scipy
sentence-transformers
six
sniffio
SQLAlchemy
stack-data
sympy
tenacity
threadpoolctl
tokenizers
torch
tornado
tqdm
traitlets
transformers
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
wcwidth
yarl
zstandard